.container{
    width: 100%;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.barsContainer{
    width: 100%;
    margin-bottom: auto;

}

.btnPagination{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #7cbc6c;  
    box-shadow: 0 9px #999;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.btnPagination:hover{
    background-color: #a3da95;
}

.btnPagination:active{
    background-color: #a3da95;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

