.errorContainer{
    width: 100%;
    background-color: #f5ea77;
    border-radius: 20px;
    border: 3px #3F9112 solid;
    color: rgb(206, 10, 10);

}

.errorFavourite{
    flex: auto;
    display: contents;
}

.imgContainer{
    margin-bottom: auto;
}

.imgContainer img{
    width: 100%;
}